<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
	<mdb-carousel-item>
	  <img src="./assets/img/1.jpeg" class="d-block w-100" alt="...">
	  <div class="carousel-caption d-block w-100">
		<div class="row">
		  <div class="col-md-12 text-center w-100">
			<h1>Dra. Ana Claudia Pimenta</h1>
		  </div>
		</div>
	  </div>
	</mdb-carousel-item>
	<mdb-carousel-item>
	  <img src="./assets/img/1.jpeg" class="d-block w-100" alt="...">
	  <div class="carousel-caption d-block w-100">
		<div class="row">
		  <div class="col-md-12 text-center w-100">
			<h1>Dra. Ana Claudia Pimenta</h1>
		  </div>
		</div>
	  </div>
	</mdb-carousel-item>
	<mdb-carousel-item>
	  <img src="./assets/img/1.jpeg" class="d-block" alt="...">
	  <div class="carousel-caption d-block w-100">
		<div class="row">
		  <div class="col-md-12 text-center">
			<h1>Dra. Ana Claudia Pimenta</h1>
		  </div>
		</div>
	  </div>
	</mdb-carousel-item>
  </mdb-carousel>
  
	  