<!-- <div class="container text-center">
<div class="container py-5">
	<div class="row mb-4 align-items-center flex-lg-row-reverse">
		<div class="col-xs-12 col-md-6">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h1 class="fw-bolder display-2">Dr. Ana Claudia Pimenta</h1>
				</div>
			</div>
			<div class="lc-block mb-4">
				<div editable="rich">
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam velit temporibus impedits maxime repellendus esse tempore odio voluptatum iusto consectetur voluptates.</p>
				</div>
			</div>
			<div class="lc-block">
				<a class="btn btn-lg" style="background-color: rgb(96, 188, 249);" href="#" role="button">Agende Uma Consulta</a>
			</div>
		</div>
        <div class="col-xs-12 col-md-6 p-5">
			<video class="w-100" controls>
                <source src="assets/video/toxina.mp4" type="video/mp4">
            </video>         
		</div>
	</div>
</div>

</div> -->
  
	<!-- Background image -->
	<!-- <div class="p-5 text-center bg-image" style="
		background-image: url('https://www.oshamanual.com/media/wysiwyg/Blog/wtY8ZACzrRkXrj09BV5hJFg0Pp7Hk9E91650547338.jpg');
		height: 400px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	  ">
	  <div class="mask">
		<div class="d-flex justify-content-center align-items-center h-100">
		  <div class="text-white">
			<h1 class="mb-3">Dra Ana Claudia Pimenta</h1>
			<h4 class="mb-3">Dentista Especialista, Mestre e Doutora pela UNICAMP e Profisional de Harmonização Oro-facial</h4>
			<a class="btn btn-outline-dark btn-lg" href="#!" role="button">Agende Uma Consulta</a>
		  </div>
		</div>
	  </div>
	</div> -->
	<!-- Background image -->

	<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
		<mdb-carousel-item>
		  <img
			src="./assets/img/1.jpeg"
			class="d-block w-100"
			alt="..."
		  />
		  <div class="carousel-caption d-none d-md-block">
			<h5>First slide label</h5>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		  </div>
		</mdb-carousel-item>
		<mdb-carousel-item>
		  <img
			src="./assets/img/2.jpeg"
			class="d-block w-100"
			alt="..."
		  />
		  <div class="carousel-caption d-none d-md-block">
			<h5>Second slide label</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		  </div>
		</mdb-carousel-item>
		<mdb-carousel-item>
		  <img
			src="./assets/img/1"
			class="d-block w-100"
			alt="..."
		  />
		  <div class="carousel-caption d-none d-md-block">
			<h5>Third slide label</h5>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		  </div>
		</mdb-carousel-item>
	  </mdb-carousel>