<div class="row justify-content-center">
	<div class="col-12 col-lg-6 d-flex justify-content-center align-items-center flex-column mx-auto">
	  <div class="text-center mb-3">
		<img src="./assets/img/logo3.JPG" alt="" class="img-fluid mx-auto d-block" style="width: 100%; height: auto; max-width: 90%;">
	  </div>
	  <div class="text-center mb-3 d-flex justify-content-center flex-column">
		<div class="d-flex flex-column align-items-center">
		  <mat-icon svgIcon="excelency"></mat-icon>
		  <p class="mt-2">Excelencia</p>
		</div>
		<div class="d-flex flex-column align-items-center">
		  <mat-icon svgIcon="respect"></mat-icon>
		  <p class="mt-2">Respeito</p>
		</div>
		<div class="d-flex flex-column align-items-center">
		  <mat-icon svgIcon="empathy"></mat-icon>
		  <p class="mt-2">Empatia</p>
		</div>
		<div class="d-flex flex-column align-items-center">
			<button type="button" class="btn">Agende uma Consulta!</button>
		</div>
	  </div>
	  
	</div>
	
	<div class="col-12 col-lg-6">
	  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
		<mdb-carousel-item>
		  <img src="./assets/img/1.jpeg" class="d-block" alt="...">
		</mdb-carousel-item>
		<mdb-carousel-item>
		  <img src="./assets/img/2.jpeg" class="d-block" alt="...">
		</mdb-carousel-item>
		<mdb-carousel-item>
		  <img src="./assets/img/3.jpeg" class="d-block" alt="...">
		</mdb-carousel-item>
		<mdb-carousel-item>
			<img src="./assets/img/4.JPG" class="d-block" alt="...">
		  </mdb-carousel-item>
		  <mdb-carousel-item>
			<img src="./assets/img/5.JPG" class="d-block" alt="...">
		  </mdb-carousel-item>
		  <mdb-carousel-item>
			<img src="./assets/img/6.JPG" class="d-block" alt="...">
		  </mdb-carousel-item>
	  </mdb-carousel>
	</div>
  </div>
  