button{
    margin: 15px 15px 15px 15px;
    transform: scale(1.5);
    color: white;
    background-color: rgb(96, 188, 249);
}

#bug{
    transform: scale(0.8);
    color: white;
    background-color: rgb(96, 188, 249);
}

a{
    color: black;
    margin-bottom: 10px;
}

