
<footer class="text-center text-lg-start" style="background-color: rgb(96, 188, 249)">
  <div class="container d-flex justify-content-center py-5">
    <button mat-icon-button style="border: none;">
      <mat-icon svgIcon="facebook" (click)="navigateTo('https://www.facebook.com/ana.pimenta.7798')"></mat-icon>
    </button>
    <button mat-icon-button style="border: none;">
      <mat-icon svgIcon="instagram" (click)="navigateTo('https://www.instagram.com/anacmpimenta/')"></mat-icon>
    </button> 
    <!-- <button mat-icon-button style="border: none;">
      <mat-icon svgIcon="linkedin" (click)="navigateTo('https://www.facebook.com/ana.pimenta.7798')"></mat-icon>
    </button> -->
  </div>
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Ana Claudia Pimenta © {{currentYear}} Copyright
  </div>
  <!-- <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
    <br/>Este Site está licenciado sob um <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.pt_BR">Atribuição Não Comercial Sem Derivações 4.0 Internacional</a>.
  </div> -->
</footer>

