<div class="container text-center">
    <div class="col-xs-12 col-md-12" style="margin: 25px 25px 70px 25px;">
        <h1 class="fw-bolder" style="margin: 20px;">Sobre Mim</h1>
    </div>
    <div class="row"> 
        <div class="col-xs-12 col-lg-6">
            <img id="avatar" src="assets/img/anaPic.JPG" alt="">
            <div class="m-3">
                <button mat-icon-button style="border: none;">
                    <mat-icon svgIcon="facebook"></mat-icon>
                </button>
                <button mat-icon-button style="border: none;">
                    <mat-icon svgIcon="instagram"></mat-icon>
                </button> 
                <button mat-icon-button style="border: none;">
                    <mat-icon svgIcon="linkedin"></mat-icon>
                </button>       
            </div>
        </div>
        <div class="col-xs-12 col-lg-6" style="text-align: center;">
            <h2>Especialista, Mestre e Doutora pela UNICAMP; aposentada após 32 anos trabalhando no SUS, credenciada pelo CFO para utilização de lasers, docente da PUC Campinas por 9 anos e Criadora do Serviço de Odontologia Hospitalar do Hospital Celso Pietro. Atuando em  Harmonização Oro-facial após residência na Inove.</h2>
            <div>
                <img id="logos" src="assets/img/unicamp.png" alt="" style="width: 70px; height: 70px;">
                <img id="logos" src="assets/img/sus.png" alt="" style="width: 130px; height: 70px;">
                <img id="logos" src="assets/img/puc.png" alt="" style="width: 130px; height: 80px;">
                <img id="logos" src="assets/img/logo-prefeitura.png" alt="" style="width: 150px; height: 120px;">
            </div>
        </div>
    </div>
</div>
