
<div class="card border-info h-100 w-100">
    <div class="card-body">
      <!-- <h4 *ngIf="item.age != null" style="margin-bottom: 10px; font-weight: bolder;color: rgb(96, 188, 249)" >{{item.name}}, {{item.age}} anos</h4>
      <h4 *ngIf="item.age == null" style="margin-bottom: 10px; font-weight: bolder;color: rgb(96, 188, 249)" >{{item.name}}</h4> -->
      <h4 style="margin-bottom: 10px; font-weight: bolder;color: rgb(96, 188, 249)" >{{item?.name}}</h4>
      <img *ngIf="item?.img == ''" src="./assets/img/placeholder.JPG" alt="" style="height: 40px; width: 40px;">
      <img *ngIf="item?.img != ''" src={{item?.img}} alt="" style="height: 45px; width: 45px;">
      <!-- <p *ngIf="item.city != null" class="card-text" style="margin-top: 10px;">{{item.city}} - {{item.date}}</p> -->
      <!-- <p *ngIf="item.city == null" class="card-text" style="margin-top: 10px;">{{item.date}}</p> -->
      <p class="card-text" style="margin-top: 10px;">{{item?.date}}</p>
      <div *ngIf="item?.rate === 1">
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
      </div>
      <div *ngIf="item?.rate === 2">
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
      </div>
      <div *ngIf="item?.rate === 3">
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
      </div>
      <div *ngIf="item?.rate === 4">
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
      </div>
      <div *ngIf="item?.rate === 5">
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
        <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
      </div>
      <p class="card-text" style="margin-top: 10px;">{{item?.comment}}</p>
    </div>
  </div>

