
<footer class="text-center text-lg-start" style="background-color: rgb(96, 188, 249)">
  <div class="container d-flex justify-content-center py-5">
    <button mat-icon-button style="border: none;">
      <mat-icon svgIcon="facebook" (click)="navigateTo('https://www.facebook.com/ana.pimenta.7798')"></mat-icon>
    </button>
    <button mat-icon-button style="border: none;">
      <mat-icon svgIcon="instagram" (click)="navigateTo('https://www.instagram.com/anacmpimenta/')"></mat-icon>
    </button> 
    <!-- <button mat-icon-button style="border: none;">
      <mat-icon svgIcon="linkedin" (click)="navigateTo('https://www.facebook.com/ana.pimenta.7798')"></mat-icon>
    </button> -->
  </div>
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Ana Claudia Pimenta © {{currentYear}} Copyright
  </div>
</footer>