<div class="container text-center" style="margin-top: 50px;">
    <mat-divider style="color: rgb(96, 188, 249);"></mat-divider>
    <div class="col-xs-12 col-md-12" style="margin: 25px 25px 70px 25px;">
        <mat-divider style="background-color: rgb(96, 188, 249); margin-bottom: 50px;"></mat-divider>
        <h1 class="fw-bolder" style="margin: 20px;">Avaliações e Depoimentos</h1>
    </div>
    <div class="row justify-content-center">
        <div *ngFor="let item of depoimentosArray" class="col-xs-12 col-md-4 col-lg-3 d-flex justify-content-center" >
            <div class="card border-info" style="width: 23rem; margin-bottom: 40px;">
                <div class="card-body">
                  <!-- <img src="./assets/img/anaPic.JPG" alt="" style="height: 60px; width: 60px; border-radius: 50%;"> -->
                  <h4 *ngIf="item.age != null" style="margin-bottom: 10px; font-weight: bolder;color: rgb(96, 188, 249)" >{{item.name}}, {{item.age}} anos</h4>
                  <h4 *ngIf="item.age == null" style="margin-bottom: 10px; font-weight: bolder;color: rgb(96, 188, 249)" >{{item.name}}</h4>
                  <p *ngIf="item.city != null" class="card-text" style="margin-top: 10px;">{{item.city}} - {{item.date}}</p>
                  <p *ngIf="item.city == null" class="card-text" style="margin-top: 10px;">{{item.date}}</p>
                  <div *ngIf="item.rate === 1">
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                  </div>
                  <div *ngIf="item.rate === 2">
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                  </div>
                  <div *ngIf="item.rate === 3">
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                  </div>
                  <div *ngIf="item.rate === 4">
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="starEmpty" style="color: gold;"></mat-icon>
                  </div>
                  <div *ngIf="item.rate === 5">
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                    <mat-icon svgIcon="star" style="color: gold;"></mat-icon>
                  </div>
                  <p class="card-text" style="margin-top: 10px;">{{item.comment}}</p>
                </div>
              </div>
          </div>
    </div>
    <!-- <button (click)="navigateTo()" type="button" class="btn" style="background-color: rgb(96, 188, 249); margin-bottom: 30px;">Deixe uma Avaliação!</button> -->
</div>