<div class="container text-center" style="margin-top: 50px;">
    <mat-divider style="color: rgb(96, 188, 249);"></mat-divider>
    <div class="col-xs-12 col-md-12" style="margin: 25px 25px 70px 25px;">
        <mat-divider style="background-color: rgb(96, 188, 249); margin-bottom: 50px;"></mat-divider>
        <h1 class="fw-bolder" style="margin: 20px;">Avaliações e Depoimentos</h1>
    </div>
    <div class="row justify-content-center">
      <div *ngFor="let item of depoimentosArray.slice(0, 8)" class="col-xs-12 col-md-4 col-lg-3" style="margin-bottom: 20px;">
        <app-depoimentos-cards [item]="item"></app-depoimentos-cards>
      </div>
    </div>
    
    <button (click)="navigateTo('https://g.page/r/CdDOajySumeREAI/review')" type="button" class="btn" style="background-color: rgb(96, 188, 249); margin-bottom: 30px; color: white;">Deixe uma Avaliação!</button>
    <button (click)="openDepoimentosOverlay()" type="button" class="btn" style="background-color: rgb(96, 188, 249); margin-bottom: 30px; color: white;">Veja Todas as Avaliações</button>
  </div>
  <div class="overlay" *ngIf="showDepoimentosOverlay">
    <div class="overlay-content">
      <div>
        <button (click)="closeDepoimentosOverlay()" type="button" class="btn btn-danger" style="margin-bottom: 30px; color: white;">Fechar</button>
      </div>
      <div class="scrollable-content">
        <div *ngFor="let item of depoimentosArray" style="margin-bottom: 20px;">
          <app-depoimentos-cards [item]="item"></app-depoimentos-cards>
        </div>
        <div>
          <button (click)="closeDepoimentosOverlay()" type="button" class="btn btn-danger" style="margin-bottom: 30px; color: white;">Fechar</button>
        </div>
      </div>
    </div>

<!-- 
  https://www.google.com/search?rlz=1C1ONGR_enUS1036US1036&sxsrf=APwXEdcYpXtTS36zzLzOlfTf8bOvHAdh8A%3A1683910675437&q=Dra.%20Ana%20Claudia%20Moutella%20Pimenta&stick=H4sIAAAAAAAAAONgU1I1qLA0SbZINjdNMzRLTTG2tEixAgoZmpknJVoaGSebJSanphgsYlV0KUrUU3DMS1RwzkksTclMVPDNLy1JzclJVAjIzE3NK0kEAAPIGQpNAAAA&mat=Ceevp7VxNAEl&ved=2ahUKEwiD25CNoPD-AhVGBzQIHQtrBuoQrMcEegQICRAD#lrd=0x94c8c75f16ed398d:0x9167ba923c6aced0,1,,,, -->
<!--  -->